@{
   ViewData["Title"] = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="topnav">
   <p class="active">General Bill Entry</p>
   <label>Bill ID</label>
   <div class="search-container">
      <input type="text" placeholder="Search.." name="search">
     @* <button type="submit"><i class="fa fa-search"></i></button>*@
   </div>
   <select class="split">
      <option>Report 1</option>
      <option>Report 2</option>
   </select>
   <button class="split">Clear</button>
   <button type="submit" id="add" class="split">Save</button>

</div>

<form>
   <div>
      <div class="row">
         <div class="column" style="width: 250px;margin-left:10px;margin-right:10px">
            <label for="company">Company</label>
            <select id="company" placeholder="Select Company...">
               <option>DIRD Composite Textiles Ltd.</option>
               <option>DIRD Garments Limited</option>
               <option>Dipta Garments Ltd.</option>
               <option>DIRD Washing Plant Ltd.</option>
               <option>DIRD Engineering Limited</option>
               <option>Dipta Orchids Ltd</option>
            </select>
         </div>
         <div class="column" style="width:250px;margin-left:10px;margin-right:10px ">
            <label for="Supplier">Supplier</label>
            <select id="Supplier" placeholder="Select Supplier...">
               <option>Textile Antares (0002)</option>
               <option>Flora Limited (0003)</option>
               <option>Techno Spinning Mills Ltd</option>
               <option>Square Yarns Ltd. (0007)</option>
               <option>DIRD Engineering Limited</option>
               <option>Square Yarns Ltd. (0007)</option>
            </select>
         </div>
         <div class="column" style="width:250px;margin-left:10px;margin-right:10px">
            <label for="PaymentMode">Payment Mode</label>
            <select id="PaymentMode" placeholder="Select Payment Mode...">
               <option>Bank Gurantee(226)</option>
               <option>Cash(014)</option>
               <option>Cheque (CHQ)(154)</option>
               <option>FDD(205)</option>
               <option>LC(015)</option>
               <option>FTT(172)</option>
            </select>
         </div>
         <div class="column" style="width:250px;margin-left:10px;margin-right:10px">
            <label for="PaymentMode">Payment Mode</label>
            <select id="PaymentMode" placeholder="Select Payment Mode...">
               <option>Dollar Dollar </option>
               <option>Euro</option>
               <option>Pound</option>
               <option>Swiss Frank</option>
               <option>Taka</option>
               <option>Yen</option>
            </select>
         </div>
         @*<div class="column" style="width:250px;margin-left:10px;margin-right:10px">
         <label for="Currency">Currency</label>
         <select id="Currency" placeholder="Select Currency...">
         <option>Dollar </option>
         <option>Euro </option>
         <option>Pound </option>
         <option>Swiss Frank </option>
         <option>Taka </option>
         <option>Yen </option>
         </select>
         </div>*@
         <div class="column" style="width:250px;margin-left:10px;margin-right:10px">
            <label for="company">Bill Reference</label>
            <input type="text" name="BillRef" />
         </div>
      </div>
      <div class="row">
         <div class="column2" style="width:250px;margin-left:10px;margin-right:10px">
            <label for="remarks">Remarks</label>
            <input type="text" name="Remarks" />
         </div>
         <div class="column2" style="width:250px;margin-left:10px;margin-right:10px">
            <label for="adjustamount">Adjust Amount</label>
            <input type="text" name="adjustamount" />
         </div>
         <div class="column2" style="width:250px;margin-left:10px;margin-right:10px">
            <label for="company">Bill Reference</label>
            <input type="text" name="BillRef" />
         </div>
         <div class="column2" style="width:250px;margin-left:10px;margin-right:10px">
            <label for="netpayable">Net payable</label>
            <input type="text" name="netpayable" />
         </div>
         <div class="column2" style="width:250px;margin-left:10px;margin-right:10px">
            <label for="adjustnote">Adjust Note</label>
            <input type="text" name="adjustnote" />
         </div>
      </div>
   </div>
</form>


